{
  "plugins": {
    "blacklist": [
      "pluginName"
    ]
  },
  "archServices": <%- archServices %>,
  "archPlugins": <%- archPlugins %>,
  "standards": {
    "env": [
      "development",
      "test"
    ]
  }
}